doctype html 
html 
    head 
        title #{pageTitle}
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous")

        link(rel="stylesheet",href="/admin/css/style.css")
        script(src="https://cdn.tiny.cloud/1/8a6gjdiu6cjlekcixya69w9cefb33ef1xa00hozn8spo9k1t/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous")
    body 
        include ../partials/header.pug 
        
        .body
          include ../partials/sider.pug 
         
          .main
            block main

        
        script(src="/admin/js/script.js")

        //-script(src="/tinymce/tinymce.min.js") TinyMCE now require API, which already included above
        script(src="/admin/js/tinyMCEconfig.js")
        