header.header 
  .container-fluid 
    .row.align-items-center.justify-content-between
      .col-auto
        .inner-logo 
          a(href="/admin/dashboard" class="navbar-brand fw-bold") ADMIN

      .col-auto
        a(
          href=`/${prefixAdmin}/auth/logout`
          class="btn btn-danger btn-sm"
        ) Đăng xuất
